#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]

(contents: (
    items: [
        Inductive(contents: (
            name: "PUnit",
            universe_params: ["u"],
            ty: (
                structures: [],
                result: (contents: Sort((contents: UniverseVariable("u")))),
            ),
            global_params: 0,
            variants: [
                (
                    name: "star",
                    intro_rule: (
                        structures: [],
                        result: (contents: Inst(
                            name: (contents: ["test", "test", "PUnit"]),
                            universes: [(contents: UniverseVariable("u"))],
                        ))
                    )
                )
            ],
        ))
    ]
))
