#![enable(unwrap_newtypes)]

(contents: (
    items: [
        Definition((contents: (
            name: "test",
            universe_params: [],
            ty: (contents: Local((
                index: 0,
            ))),
            expr: None,
        ))),
    ],
))
