#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]

(contents: (
    items: [
        Inductive(contents: (
            name: "Nat",
            universe_params: [],
            ty: (
                structures: [],
                result: (contents: Sort((contents: UniverseSucc((contents: UniverseZero))))),
            ),
            global_params: 0,
            variants: [
                (
                    name: "zero",
                    intro_rule: (
                        structures: [],
                        result: (contents: Inst(
                            name: (contents: ["test", "test", "Nat"]),
                            universes: [],
                        ))
                    )
                ),
                (
                    name: "succ",
                    intro_rule: (
                        structures: [
                            (
                                bound: (
                                    name: "n",
                                    ty: (contents: Inst(
                                        name: (contents: ["test", "test", "Nat"]),
                                        universes: [],
                                    )),
                                    ownership: POwned,
                                ),
                                binder_annotation: Explicit,
                                invocation_type: Once,
                                region: (contents: StaticRegion),
                            ),
                        ],
                        result: (contents: Inst(
                            name: (contents: ["test", "test", "Nat"]),
                            universes: [],
                        ))
                    )
                ),
            ],
        )),
        Definition(contents: (
            name: "add",
            universe_params: [],
            ty: (contents: Pi(
                structure: (
                    bound: (
                        name: "a",
                        ty: (contents: Inst(
                            name: (contents: ["test", "test", "Nat"]),
                            universes: [],
                        )),
                        ownership: POwned,
                    ),
                    binder_annotation: Explicit,
                    invocation_type: Once,
                    region: (contents: StaticRegion),
                ),
                result: (contents: Pi(
                    structure: (
                        bound: (
                            name: "b",
                            ty: (contents: Inst(
                                name: (contents: ["test", "test", "Nat"]),
                                universes: [],
                            )),
                            ownership: POwned,
                        ),
                        binder_annotation: Explicit,
                        invocation_type: Once,
                        region: (contents: StaticRegion),
                    ),
                    result: (contents: Inst(
                        name: (contents: ["test", "test", "Nat"]),
                        universes: [],
                    )),
                )),
            )),
            expr: (contents: Lambda(
                structure: (
                    bound: (
                        name: "a",
                        ty: (contents: Inst(
                            name: (contents: ["test", "test", "Nat"]),
                            universes: [],
                        )),
                        ownership: POwned,
                    ),
                    binder_annotation: Explicit,
                    invocation_type: Once,
                    region: (contents: StaticRegion),
                ),
                result: (contents: Lambda(
                    structure: (
                        bound: (
                            name: "b",
                            ty: (contents: Inst(
                                name: (contents: ["test", "test", "Nat"]),
                                universes: [],
                            )),
                            ownership: POwned,
                        ),
                        binder_annotation: Explicit,
                        invocation_type: Once,
                        region: (contents: StaticRegion),
                    ),
                    result: (contents: Fix(
                        argument: (contents: Local(index: 0)),
                        argument_name: "x",
                        fixpoint: (
                            name: "f",
                            ty: (contents: Inst(
                                name: (contents: ["test", "test", "Nat"]),
                                universes: [],
                            )),
                            ownership: POwned,
                        ),
                        body: (contents: Match(
                            major_premise: (contents: Local(index: 0)),
                            index_params: 0,
                            motive: (contents: Inst(
                                name: (contents: ["test", "test", "Nat"]),
                                universes: [],
                            )),
                            minor_premises: [
                                (
                                    variant: "zero",
                                    fields: 0,
                                    result: (contents: Local(index: 3)),
                                ),
                                (
                                    variant: "succ",
                                    fields: 1,
                                    result: (contents: Intro(
                                        inductive: (contents: ["test", "test", "Nat"]),
                                        universes: [],
                                        variant: "succ",
                                        parameters: [
                                            (contents: Apply(
                                                function: (contents: Local(index: 2)),
                                                argument: (contents: Local(index: 0)),
                                            ))
                                        ],
                                    )),
                                ),
                            ],
                        )),
                    )),
                )),
            )),
        )),
    ]
))
