#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]

(contents: (
    items: [
        Inductive(contents: (
            name: "Nat",
            universe_params: [],
            ty: (
                structures: [],
                result: (contents: Sort((contents: UniverseSucc((contents: UniverseZero))))),
            ),
            global_params: 0,
            variants: [
                (
                    name: "zero",
                    intro_rule: (
                        structures: [],
                        result: (contents: Inst(
                            name: (contents: ["basic_fix", "Nat"]),
                            universes: [],
                        ))
                    )
                ),
                (
                    name: "succ",
                    intro_rule: (
                        structures: [
                            (
                                bound: (
                                    name: "n",
                                    ty: (contents: Inst(
                                        name: (contents: ["basic_fix", "Nat"]),
                                        universes: [],
                                    )),
                                    ownership: POwned,
                                ),
                                binder_annotation: Explicit,
                                ownership: Once,
                                region: (contents: StaticRegion),
                            ),
                        ],
                        result: (contents: Inst(
                            name: (contents: ["basic_fix", "Nat"]),
                            universes: [],
                        ))
                    )
                ),
            ],
        )),
        Definition(contents: (
            name: "add",
            universe_params: [],
            ty: (contents: Pi(
                structure: (
                    bound: (
                        name: "a",
                        ty: (contents: Inst(
                            name: (contents: ["basic_fix", "Nat"]),
                            universes: [],
                        )),
                        ownership: POwned,
                    ),
                    binder_annotation: Explicit,
                    ownership: Once,
                    region: (contents: StaticRegion),
                ),
                result: (contents: Pi(
                    structure: (
                        bound: (
                            name: "b",
                            ty: (contents: Inst(
                                name: (contents: ["basic_fix", "Nat"]),
                                universes: [],
                            )),
                            ownership: POwned,
                        ),
                        binder_annotation: Explicit,
                        ownership: Once,
                        region: (contents: StaticRegion),
                    ),
                    result: (contents: Inst(
                        name: (contents: ["basic_fix", "Nat"]),
                        universes: [],
                    )),
                )),
            )),
            expr: (contents: Lambda(
                structure: (
                    bound: (
                        name: "a",
                        ty: (contents: Inst(
                            name: (contents: ["basic_fix", "Nat"]),
                            universes: [],
                        )),
                        ownership: POwned,
                    ),
                    binder_annotation: Explicit,
                    ownership: Once,
                    region: (contents: StaticRegion),
                ),
                result: (contents: Lambda(
                    structure: (
                        bound: (
                            name: "b",
                            ty: (contents: Inst(
                                name: (contents: ["basic_fix", "Nat"]),
                                universes: [],
                            )),
                            ownership: POwned,
                        ),
                        binder_annotation: Explicit,
                        ownership: Once,
                        region: (contents: StaticRegion),
                    ),
                    result: (contents: Fix(
                        argument: (contents: Local(index: 0)),
                        argument_name: "x",
                        fixpoint: (
                            name: "f",
                            ty: (contents: Inst(
                                name: (contents: ["basic_fix", "Nat"]),
                                universes: [],
                            )),
                            ownership: POwned,
                        ),
                        body: (contents: Match(
                            major_premise: (contents: Local(index: 0)),
                            index_params: 0,
                            motive: (contents: Inst(
                                name: (contents: ["basic_fix", "Nat"]),
                                universes: [],
                            )),
                            minor_premises: [
                                (
                                    variant: "zero",
                                    fields: 0,
                                    result: (contents: Local(index: 3)),
                                ),
                                (
                                    variant: "succ",
                                    fields: 1,
                                    result: (contents: Intro(
                                        inductive: (contents: ["basic_fix", "Nat"]),
                                        universes: [],
                                        variant: "succ",
                                        parameters: [
                                            (contents: Apply(
                                                function: (contents: Local(index: 2)),
                                                argument: (contents: Local(index: 0)),
                                            ))
                                        ],
                                    )),
                                ),
                            ],
                        )),
                    )),
                )),
            )),
        )),
        Inductive(contents: (
            name: "Eq",
            universe_params: ["u"],
            ty: (
                structures: [
                    (
                        bound: (
                            name: "A",
                            ty: (contents: Sort((contents: UniverseVariable("u")))),
                            ownership: PZero,
                        ),
                        binder_annotation: ImplicitEager,
                        ownership: Once,
                        region: (contents: StaticRegion)
                    ),
                    (
                        bound: (
                            name: "a",
                            ty: (contents: Local(index: 0)),
                            ownership: PZero,
                        ),
                        binder_annotation: Explicit,
                        ownership: Once,
                        region: (contents: StaticRegion)
                    ),
                    (
                        bound: (
                            name: "b",
                            ty: (contents: Local(index: 1)),
                            ownership: PZero,
                        ),
                        binder_annotation: Explicit,
                        ownership: Once,
                        region: (contents: StaticRegion)
                    ),
                ],
                result: (contents: Sort((contents: UniverseZero))),
            ),
            global_params: 2,
            variants: [
                (
                    name: "refl",
                    intro_rule: (
                        structures: [
                            (
                                bound: (
                                    name: "A",
                                    ty: (contents: Sort((contents: UniverseVariable("u")))),
                                    ownership: PZero,
                                ),
                                binder_annotation: ImplicitEager,
                                ownership: Once,
                                region: (contents: StaticRegion)
                            ),
                            (
                                bound: (
                                    name: "a",
                                    ty: (contents: Local(index: 0)),
                                    ownership: PZero,
                                ),
                                binder_annotation: Explicit,
                                ownership: Once,
                                region: (contents: StaticRegion)
                            ),
                        ],
                        result: (contents: Apply(
                            function: (contents: Apply(
                                function: (contents: Apply(
                                    function: (contents: Inst(
                                        name: (contents: ["basic_fix", "Eq"]),
                                        universes: [(contents: UniverseVariable("u"))],
                                    )),
                                    argument: (contents: Local(index: 1)),
                                )),
                                argument: (contents: Local(index: 0)),
                            )),
                            argument: (contents: Local(index: 0)),
                        )),
                    )
                )
            ]
        )),
        Definition(contents: (
            name: "two_plus_two_eq_four",
            universe_params: [],
            ty: (contents: Apply(
                function: (contents: Apply(
                    function: (contents: Apply(
                        function: (contents: Inst(
                            name: (contents: ["basic_fix", "Eq"]),
                            universes: [(contents: UniverseSucc((contents: UniverseZero)))],
                        )),
                        argument: (contents: Inst(
                            name: (contents: ["basic_fix", "Nat"]),
                            universes: [],
                        )),
                    )),
                    argument: (contents: Apply(
                        function: (contents: Apply(
                            function: (contents: Inst(
                                name: (contents: ["basic_fix", "add"]),
                                universes: [],
                            )),
                            argument: (contents: Intro(
                                inductive: (contents: ["basic_fix", "Nat"]),
                                universes: [],
                                variant: "succ",
                                parameters: [
                                    (contents: Intro(
                                        inductive: (contents: ["basic_fix", "Nat"]),
                                        universes: [],
                                        variant: "succ",
                                        parameters: [
                                            (contents: Intro(
                                                inductive: (contents: ["basic_fix", "Nat"]),
                                                universes: [],
                                                variant: "zero",
                                                parameters: []
                                            ))
                                        ]
                                    ))
                                ]
                            )),
                        )),
                        argument: (contents: Intro(
                            inductive: (contents: ["basic_fix", "Nat"]),
                            universes: [],
                            variant: "succ",
                            parameters: [
                                (contents: Intro(
                                    inductive: (contents: ["basic_fix", "Nat"]),
                                    universes: [],
                                    variant: "succ",
                                    parameters: [
                                        (contents: Intro(
                                            inductive: (contents: ["basic_fix", "Nat"]),
                                            universes: [],
                                            variant: "zero",
                                            parameters: []
                                        ))
                                    ]
                                ))
                            ]
                        )),
                    )),
                )),
                argument: (contents: Intro(
                    inductive: (contents: ["basic_fix", "Nat"]),
                    universes: [],
                    variant: "succ",
                    parameters: [
                        (contents: Intro(
                            inductive: (contents: ["basic_fix", "Nat"]),
                            universes: [],
                            variant: "succ",
                            parameters: [
                                (contents: Intro(
                                    inductive: (contents: ["basic_fix", "Nat"]),
                                    universes: [],
                                    variant: "succ",
                                    parameters: [
                                        (contents: Intro(
                                            inductive: (contents: ["basic_fix", "Nat"]),
                                            universes: [],
                                            variant: "succ",
                                            parameters: [
                                                (contents: Intro(
                                                    inductive: (contents: ["basic_fix", "Nat"]),
                                                    universes: [],
                                                    variant: "zero",
                                                    parameters: []
                                                ))
                                            ]
                                        ))
                                    ]
                                ))
                            ]
                        ))
                    ]
                ))
            )),
            expr: (contents: Intro(
                inductive: (contents: ["basic_fix", "Eq"]),
                universes: [(contents: UniverseSucc((contents: UniverseZero)))],
                variant: "refl",
                parameters: [
                    (contents: Inst(
                        name: (contents: ["basic_fix", "Nat"]),
                        universes: [],
                    )),
                    (contents: Apply(
                        function: (contents: Apply(
                            function: (contents: Inst(
                                name: (contents: ["basic_fix", "add"]),
                                universes: [],
                            )),
                            argument: (contents: Intro(
                                inductive: (contents: ["basic_fix", "Nat"]),
                                universes: [],
                                variant: "succ",
                                parameters: [
                                    (contents: Intro(
                                        inductive: (contents: ["basic_fix", "Nat"]),
                                        universes: [],
                                        variant: "succ",
                                        parameters: [
                                            (contents: Intro(
                                                inductive: (contents: ["basic_fix", "Nat"]),
                                                universes: [],
                                                variant: "zero",
                                                parameters: []
                                            ))
                                        ]
                                    ))
                                ]
                            )),
                        )),
                        argument: (contents: Intro(
                            inductive: (contents: ["basic_fix", "Nat"]),
                            universes: [],
                            variant: "succ",
                            parameters: [
                                (contents: Intro(
                                    inductive: (contents: ["basic_fix", "Nat"]),
                                    universes: [],
                                    variant: "succ",
                                    parameters: [
                                        (contents: Intro(
                                            inductive: (contents: ["basic_fix", "Nat"]),
                                            universes: [],
                                            variant: "zero",
                                            parameters: []
                                        ))
                                    ]
                                ))
                            ]
                        )),
                    ))
                ],
            ))
        ))
    ]
))
