#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]

(contents: (
    items: [
        Inductive(contents: (
            name: "Nat",
            universe_params: [],
            ty: (
                structures: [],
                result: (contents: Sort((contents: UniverseSucc((contents: UniverseZero))))),
            ),
            global_params: 0,
            variants: [
                (
                    name: "zero",
                    intro_rule: (
                        structures: [],
                        result: (contents: Inst(
                            name: (contents: ["borrow_fix_whnf", "Nat"]),
                            universes: [],
                        ))
                    )
                ),
                (
                    name: "succ",
                    intro_rule: (
                        structures: [
                            (
                                bound: (
                                    name: "n",
                                    ty: (contents: Inst(
                                        name: (contents: ["borrow_fix_whnf", "Nat"]),
                                        universes: [],
                                    )),
                                    ownership: POwned,
                                ),
                                binder_annotation: Explicit,
                                ownership: Once,
                                region: (contents: StaticRegion),
                            ),
                        ],
                        result: (contents: Inst(
                            name: (contents: ["borrow_fix_whnf", "Nat"]),
                            universes: [],
                        ))
                    )
                ),
            ],
        )),
        Definition(contents: (
            name: "nat_clone",
            universe_params: [],
            ty: (contents: RegionPi(
                region_name: "a",
                body: (contents: Pi(
                    structure: (
                        bound: (
                            name: "n",
                            ty: (contents: Delta(
                                region: (contents: Local(index: 0)),
                                ty: (contents: Inst(
                                    name: (contents: ["borrow_fix_whnf", "Nat"]),
                                    universes: [],
                                ))
                            )),
                            ownership: POwned,
                        ),
                        binder_annotation: Explicit,
                        ownership: Once,
                        region: (contents: StaticRegion),
                    ),
                    result: (contents: Inst(
                        name: (contents: ["borrow_fix_whnf", "Nat"]),
                        universes: [],
                    )),
                )),
            )),
            expr: (contents: RegionLambda(
                region_name: "a",
                body: (contents: Lambda(
                    structure: (
                        bound: (
                            name: "n",
                            ty: (contents: Delta(
                                region: (contents: Local(index: 0)),
                                ty: (contents: Inst(
                                    name: (contents: ["borrow_fix_whnf", "Nat"]),
                                    universes: [],
                                ))
                            )),
                            ownership: POwned,
                        ),
                        binder_annotation: Explicit,
                        ownership: Once,
                        region: (contents: StaticRegion),
                    ),
                    result: (contents: Fix(
                        argument: (contents: Local(index: 0)),
                        argument_name: "m",
                        fixpoint: (
                            name: "k",
                            ty: (contents: Inst(
                                name: (contents: ["borrow_fix_whnf", "Nat"]),
                                universes: [],
                            )),
                            ownership: POwned,
                        ),
                        body: (contents: Match(
                            major_premise: (contents: Local(index: 0)),
                            index_params: 0,
                            motive: (contents: Inst(
                                name: (contents: ["borrow_fix_whnf", "Nat"]),
                                universes: [],
                            )),
                            minor_premises: [
                                (
                                    variant: "zero",
                                    fields: 0,
                                    result: (contents: Intro(
                                        inductive: (contents: ["borrow_fix_whnf", "Nat"]),
                                        universes: [],
                                        variant: "zero",
                                        parameters: [],
                                    ))
                                ),
                                (
                                    variant: "succ",
                                    fields: 1,
                                    result: (contents: Intro(
                                        inductive: (contents: ["borrow_fix_whnf", "Nat"]),
                                        universes: [],
                                        variant: "succ",
                                        parameters: [(contents: Apply(
                                            function: (contents: Local(index: 2)),
                                            argument: (contents: Local(index: 0)),
                                        ))],
                                    ))
                                )
                            ]
                        )),
                    )),
                )),
            )),
        )),
        Inductive(contents: (
            name: "Eq",
            universe_params: ["u"],
            ty: (
                structures: [
                    (
                        bound: (
                            name: "A",
                            ty: (contents: Sort((contents: UniverseVariable("u")))),
                            ownership: PZero,
                        ),
                        binder_annotation: ImplicitEager,
                        ownership: Once,
                        region: (contents: StaticRegion)
                    ),
                    (
                        bound: (
                            name: "a",
                            ty: (contents: Local(index: 0)),
                            ownership: PZero,
                        ),
                        binder_annotation: Explicit,
                        ownership: Once,
                        region: (contents: StaticRegion)
                    ),
                    (
                        bound: (
                            name: "b",
                            ty: (contents: Local(index: 1)),
                            ownership: PZero,
                        ),
                        binder_annotation: Explicit,
                        ownership: Once,
                        region: (contents: StaticRegion)
                    ),
                ],
                result: (contents: Sort((contents: UniverseZero))),
            ),
            global_params: 2,
            variants: [
                (
                    name: "refl",
                    intro_rule: (
                        structures: [
                            (
                                bound: (
                                    name: "A",
                                    ty: (contents: Sort((contents: UniverseVariable("u")))),
                                    ownership: PZero,
                                ),
                                binder_annotation: ImplicitEager,
                                ownership: Once,
                                region: (contents: StaticRegion)
                            ),
                            (
                                bound: (
                                    name: "a",
                                    ty: (contents: Local(index: 0)),
                                    ownership: PZero,
                                ),
                                binder_annotation: Explicit,
                                ownership: Once,
                                region: (contents: StaticRegion)
                            ),
                        ],
                        result: (contents: Apply(
                            function: (contents: Apply(
                                function: (contents: Apply(
                                    function: (contents: Inst(
                                        name: (contents: ["borrow_fix_whnf", "Eq"]),
                                        universes: [(contents: UniverseVariable("u"))],
                                    )),
                                    argument: (contents: Local(index: 1)),
                                )),
                                argument: (contents: Local(index: 0)),
                            )),
                            argument: (contents: Local(index: 0)),
                        )),
                    )
                )
            ]
        )),
        Definition(contents: (
            name: "clone_borrow_two_eq_two",
            universe_params: [],
            ty: (contents: RegionPi(
                region_name: "a",
                body: (contents: Apply(
                    function: (contents: Apply(
                        function: (contents: Apply(
                            function: (contents: Inst(
                                name: (contents: ["borrow_fix_whnf", "Eq"]),
                                universes: [(contents: UniverseSucc((contents: UniverseZero)))]
                            )),
                            argument: (contents: Inst(
                                name: (contents: ["borrow_fix_whnf", "Nat"]),
                                universes: [],
                            )),
                        )),
                        argument: (contents: Apply(
                            function: (contents: Apply(
                                function: (contents: Inst(
                                    name: (contents: ["borrow_fix_whnf", "nat_clone"]),
                                    universes: [],
                                )),
                                argument: (contents: Local(index: 0)),
                            )),
                            argument: (contents: Borrow(
                                region: (contents: Local(index: 0)),
                                value: (contents: Intro(
                                    inductive: (contents: ["borrow_fix_whnf", "Nat"]),
                                    universes: [],
                                    variant: "succ",
                                    parameters: [
                                        (contents: Intro(
                                            inductive: (contents: ["borrow_fix_whnf", "Nat"]),
                                            universes: [],
                                            variant: "succ",
                                            parameters: [
                                                (contents: Intro(
                                                    inductive: (contents: ["borrow_fix_whnf", "Nat"]),
                                                    universes: [],
                                                    variant: "zero",
                                                    parameters: []
                                                ))
                                            ]
                                        ))
                                    ]
                                ))
                            )),
                        )),
                    )),
                    argument: (contents: Intro(
                        inductive: (contents: ["borrow_fix_whnf", "Nat"]),
                        universes: [],
                        variant: "succ",
                        parameters: [
                            (contents: Intro(
                                inductive: (contents: ["borrow_fix_whnf", "Nat"]),
                                universes: [],
                                variant: "succ",
                                parameters: [
                                    (contents: Intro(
                                        inductive: (contents: ["borrow_fix_whnf", "Nat"]),
                                        universes: [],
                                        variant: "zero",
                                        parameters: []
                                    ))
                                ]
                            ))
                        ]
                    )),
                ))
            ))
        ))
    ]
))
