#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]

(contents: (
    items: [
        Inductive(contents: (
            name: "Eq",
            universe_params: ["u"],
            ty: (
                structures: [
                    (
                        bound: (
                            name: "A",
                            ty: (contents: Sort((contents: UniverseVariable("u")))),
                            ownership: PZero,
                        ),
                        binder_annotation: ImplicitEager,
                        region: (contents: StaticRegion)
                    ),
                    (
                        bound: (
                            name: "a",
                            ty: (contents: Local(index: 0)),
                            ownership: PZero,
                        ),
                        binder_annotation: Explicit,
                        region: (contents: StaticRegion)
                    ),
                    (
                        bound: (
                            name: "b",
                            ty: (contents: Local(index: 1)),
                            ownership: PZero,
                        ),
                        binder_annotation: Explicit,
                        region: (contents: StaticRegion)
                    ),
                ],
                result: (contents: Sort((contents: UniverseZero))),
            ),
            global_params: 2,
            variants: [
                (
                    name: "refl",
                    intro_rule: (
                        structures: [
                            (
                                bound: (
                                    name: "A",
                                    ty: (contents: Sort((contents: UniverseVariable("u")))),
                                    ownership: PZero,
                                ),
                                binder_annotation: ImplicitEager,
                                region: (contents: StaticRegion)
                            ),
                            (
                                bound: (
                                    name: "a",
                                    ty: (contents: Local(index: 0)),
                                    ownership: PZero,
                                ),
                                binder_annotation: Explicit,
                                region: (contents: StaticRegion)
                            ),
                        ],
                        result: (contents: Apply(
                            function: (contents: Apply(
                                function: (contents: Apply(
                                    function: (contents: Inst(
                                        name: (contents: ["cast", "Eq"]),
                                        universes: [(contents: UniverseVariable("u"))],
                                    )),
                                    argument: (contents: Local(index: 1)),
                                )),
                                argument: (contents: Local(index: 0)),
                            )),
                            argument: (contents: Local(index: 0)),
                        )),
                    )
                )
            ]
        )),
        Definition(contents: (
            name: "cast",
            universe_params: ["u"],
            ty: (contents: Pi(
                structure: (
                    bound: (
                        name: "A",
                        ty: (contents: Sort((contents: UniverseVariable("u")))),
                        ownership: PZero,
                    ),
                    binder_annotation: ImplicitEager,
                    region: (contents: StaticRegion),
                ),
                result: (contents: Pi(
                    structure: (
                        bound: (
                            name: "B",
                            ty: (contents: Sort((contents: UniverseVariable("u")))),
                            ownership: PZero,
                        ),
                        binder_annotation: ImplicitEager,
                        region: (contents: StaticRegion),
                    ),
                    result: (contents: Pi(
                        structure: (
                            bound: (
                                name: "h",
                                ty: (contents: Apply(
                                    function: (contents: Apply(
                                        function: (contents: Apply(
                                            function: (contents: Inst(
                                                name: (contents: ["cast", "Eq"]),
                                                universes: [(contents: UniverseSucc((contents: UniverseVariable("u"))))]
                                            )),
                                            argument: (contents: Sort((contents: UniverseVariable("u")))),
                                        )),
                                        argument: (contents: Local(index: 1)),
                                    )),
                                    argument: (contents: Local(index: 0)),
                                )),
                                ownership: PZero,
                            ),
                            binder_annotation: ImplicitEager,
                            region: (contents: StaticRegion),
                        ),
                        result: (contents: Pi(
                            structure: (
                                bound: (
                                    name: "a",
                                    ty: (contents: Local(index: 2)),
                                    ownership: POwned,
                                ),
                                binder_annotation: Explicit,
                                region: (contents: StaticRegion),
                            ),
                            result: (contents: Local(index: 2)),
                        ))
                    ))
                ))
            )),
            expr: (contents: Lambda(
                structure: (
                    bound: (
                        name: "A",
                        ty: (contents: Sort((contents: UniverseVariable("u")))),
                        ownership: PZero,
                    ),
                    binder_annotation: ImplicitEager,
                    region: (contents: StaticRegion),
                ),
                result: (contents: Lambda(
                    structure: (
                        bound: (
                            name: "B",
                            ty: (contents: Sort((contents: UniverseVariable("u")))),
                            ownership: PZero,
                        ),
                        binder_annotation: ImplicitEager,
                        region: (contents: StaticRegion),
                    ),
                    result: (contents: Lambda(
                        structure: (
                            bound: (
                                name: "h",
                                ty: (contents: Apply(
                                    function: (contents: Apply(
                                        function: (contents: Apply(
                                            function: (contents: Inst(
                                                name: (contents: ["cast", "Eq"]),
                                                universes: [(contents: UniverseSucc((contents: UniverseVariable("u"))))]
                                            )),
                                            argument: (contents: Sort((contents: UniverseVariable("u")))),
                                        )),
                                        argument: (contents: Local(index: 1)),
                                    )),
                                    argument: (contents: Local(index: 0)),
                                )),
                                ownership: PZero,
                            ),
                            binder_annotation: ImplicitEager,
                            region: (contents: StaticRegion),
                        ),
                        result: (contents: Lambda(
                            structure: (
                                bound: (
                                    name: "a",
                                    ty: (contents: Local(index: 2)),
                                    ownership: POwned,
                                ),
                                binder_annotation: Explicit,
                                region: (contents: StaticRegion),
                            ),
                            result: (contents: Match(
                                major_premise: (contents: Local(index: 1)),
                                index_params: 1,
                                motive: (contents: Local(index: 1)),
                                minor_premises: [
                                    (
                                        variant: "refl",
                                        fields: 0,
                                        result: (contents: Local(index: 0)),
                                    ),
                                ]
                            )),
                        ))
                    ))
                ))
            )),
        )),
    ]
))
