#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]

(contents: (
    items: [
        Definition(contents: (
            name: "id",
            universe_params: ["u"],
            ty: (contents: Pi(
                structure: (
                    bound: (
                        name: "T",
                        ty: (contents: Sort((contents: UniverseVariable("u")))),
                        ownership: PZero,
                    ),
                    binder_annotation: ImplicitEager,
                    region: (contents: StaticRegion),
                ),
                result: (contents: Pi(
                    structure: (
                        bound: (
                            name: "x",
                            ty: (contents: Local(index: 0)),
                            ownership: POwned,
                        ),
                        binder_annotation: Explicit,
                        region: (contents: StaticRegion),
                    ),
                    result: (contents: Local(index: 1))
                ))
            )),
            expr: (contents: Lambda(
                structure: (
                    bound: (
                        name: "T",
                        ty: (contents: Sort((contents: UniverseVariable("u")))),
                        ownership: PZero,
                    ),
                    binder_annotation: ImplicitEager,
                    region: (contents: StaticRegion),
                ),
                result: (contents: Lambda(
                    structure: (
                        bound: (
                            name: "x",
                            ty: (contents: Local(index: 0)),
                            ownership: POwned,
                        ),
                        binder_annotation: Explicit,
                        region: (contents: StaticRegion),
                    ),
                    result: (contents: Local(index: 0))
                ))
            ))
        ))
    ]
))
