#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]

(contents: (
    items: [
        Inductive(contents: (
            name: "Prod",
            universe_params: ["u", "v"],
            ty: (
                structures: [
                    (
                        bound: (
                            name: "A",
                            ty: (contents: Sort((contents: UniverseSucc((contents: UniverseVariable("u")))))),
                            ownership: PZero,
                        ),
                        binder_annotation: ImplicitEager,
                        ownership: Once,
                        region: (contents: StaticRegion),
                    ),
                    (
                        bound: (
                            name: "B",
                            ty: (contents: Sort((contents: UniverseSucc((contents: UniverseVariable("v")))))),
                            ownership: PZero,
                        ),
                        binder_annotation: ImplicitEager,
                        ownership: Once,
                        region: (contents: StaticRegion),
                    ),
                ],
                result: (contents: Sort((contents: UniverseMax(
                    left: (contents: UniverseSucc((contents: UniverseVariable("u")))),
                    right: (contents: UniverseSucc((contents: UniverseVariable("v")))),
                )))),
            ),
            global_params: 2,
            variants: [
                (
                    name: "Prod",
                    intro_rule: (
                        structures: [
                            (
                                bound: (
                                    name: "A",
                                    ty: (contents: Sort((contents: UniverseSucc((contents: UniverseVariable("u")))))),
                                    ownership: PZero,
                                ),
                                binder_annotation: ImplicitEager,
                                ownership: Once,
                                region: (contents: StaticRegion),
                            ),
                            (
                                bound: (
                                    name: "B",
                                    ty: (contents: Sort((contents: UniverseSucc((contents: UniverseVariable("v")))))),
                                    ownership: PZero,
                                ),
                                binder_annotation: ImplicitEager,
                                ownership: Once,
                                region: (contents: StaticRegion),
                            ),
                            (
                                bound: (
                                    name: "fst",
                                    ty: (contents: Local(index: 1)),
                                    ownership: POwned,
                                ),
                                binder_annotation: Explicit,
                                ownership: Once,
                                region: (contents: StaticRegion),
                            ),
                            (
                                bound: (
                                    name: "snd",
                                    ty: (contents: Local(index: 1)),
                                    ownership: POwned,
                                ),
                                binder_annotation: Explicit,
                                ownership: Once,
                                region: (contents: StaticRegion),
                            ),
                        ],
                        result: (contents: Apply(
                            function: (contents: Apply(
                                function: (contents: Inst(
                                    name: (contents: ["match_defeq", "Prod"]),
                                    universes: [
                                        (contents: UniverseVariable("u")),
                                        (contents: UniverseVariable("v"))
                                    ],
                                )),
                                argument: (contents: Local(index: 3)),
                            )),
                            argument: (contents: Local(index: 2)),
                        ))
                    )
                )
            ],
        )),
        Definition(contents: (
            name: "diagonal",
            universe_params: ["u"],
            ty: (contents: Pi(
                structure: (
                    bound: (
                        name: "A",
                        ty: (contents: Sort((contents: UniverseSucc((contents: UniverseVariable("u")))))),
                        ownership: PZero,
                    ),
                    binder_annotation: ImplicitEager,
                    ownership: Once,
                    region: (contents: StaticRegion),
                ),
                result: (contents: Pi(
                    structure: (
                        bound: (
                            name: "x",
                            ty: (contents: Local(index: 0)),
                            ownership: POwned,
                        ),
                        binder_annotation: Explicit,
                        ownership: Once,
                        region: (contents: StaticRegion),
                    ),
                    result: (contents: Apply(
                        function: (contents: Apply(
                            function: (contents: Inst(
                                name: (contents: ["match_defeq", "Prod"]),
                                universes: [
                                    (contents: UniverseVariable("u")),
                                    (contents: UniverseVariable("u"))
                                ],
                            )),
                            argument: (contents: Local(index: 1)),
                        )),
                        argument: (contents: Local(index: 1)),
                    ))
                ))
            )),
            expr: (contents: Lambda(
                structure: (
                    bound: (
                        name: "A",
                        ty: (contents: Sort((contents: UniverseSucc((contents: UniverseVariable("u")))))),
                        ownership: PZero,
                    ),
                    binder_annotation: ImplicitEager,
                    ownership: Once,
                    region: (contents: StaticRegion),
                ),
                result: (contents: Lambda(
                    structure: (
                        bound: (
                            name: "x",
                            ty: (contents: Local(index: 0)),
                            ownership: POwned,
                        ),
                        binder_annotation: Explicit,
                        ownership: Once,
                        region: (contents: StaticRegion),
                    ),
                    result: (contents: Intro(
                        inductive: (contents: ["match_defeq", "Prod"]),
                        universes: [
                            (contents: UniverseVariable("u")),
                            (contents: UniverseVariable("u"))
                        ],
                        variant: "Prod",
                        parameters: [
                            (contents: Local(index: 1)),
                            (contents: Local(index: 1)),
                            (contents: Local(index: 0)),
                            (contents: Local(index: 0)),
                        ],
                    ))
                ))
            ))
        )),
        Inductive(contents: (
            name: "Eq",
            universe_params: ["u"],
            ty: (
                structures: [
                    (
                        bound: (
                            name: "A",
                            ty: (contents: Sort((contents: UniverseVariable("u")))),
                            ownership: PZero,
                        ),
                        binder_annotation: ImplicitEager,
                        ownership: Once,
                        region: (contents: StaticRegion)
                    ),
                    (
                        bound: (
                            name: "a",
                            ty: (contents: Local(index: 0)),
                            ownership: PZero,
                        ),
                        binder_annotation: Explicit,
                        ownership: Once,
                        region: (contents: StaticRegion)
                    ),
                    (
                        bound: (
                            name: "b",
                            ty: (contents: Local(index: 1)),
                            ownership: PZero,
                        ),
                        binder_annotation: Explicit,
                        ownership: Once,
                        region: (contents: StaticRegion)
                    ),
                ],
                result: (contents: Sort((contents: UniverseZero))),
            ),
            global_params: 2,
            variants: [
                (
                    name: "refl",
                    intro_rule: (
                        structures: [
                            (
                                bound: (
                                    name: "A",
                                    ty: (contents: Sort((contents: UniverseVariable("u")))),
                                    ownership: PZero,
                                ),
                                binder_annotation: ImplicitEager,
                                ownership: Once,
                                region: (contents: StaticRegion)
                            ),
                            (
                                bound: (
                                    name: "a",
                                    ty: (contents: Local(index: 0)),
                                    ownership: PZero,
                                ),
                                binder_annotation: Explicit,
                                ownership: Once,
                                region: (contents: StaticRegion)
                            ),
                        ],
                        result: (contents: Apply(
                            function: (contents: Apply(
                                function: (contents: Apply(
                                    function: (contents: Inst(
                                        name: (contents: ["match_defeq", "Eq"]),
                                        universes: [(contents: UniverseVariable("u"))],
                                    )),
                                    argument: (contents: Local(index: 1)),
                                )),
                                argument: (contents: Local(index: 0)),
                            )),
                            argument: (contents: Local(index: 0)),
                        )),
                    )
                )
            ]
        )),
        Definition(contents: (
            name: "match_diagonal_eq",
            universe_params: ["u"],
            ty: (contents: Pi(
                structure: (
                    bound: (
                        name: "A",
                        ty: (contents: Sort((contents: UniverseSucc((contents: UniverseVariable("u")))))),
                        ownership: PZero,
                    ),
                    binder_annotation: ImplicitEager,
                    ownership: Once,
                    region: (contents: StaticRegion),
                ),
                result: (contents: Pi(
                    structure: (
                        bound: (
                            name: "x",
                            ty: (contents: Local(index: 0)),
                            ownership: POwned,
                        ),
                        binder_annotation: Explicit,
                        ownership: Once,
                        region: (contents: StaticRegion),
                    ),
                    result: (contents: Apply(
                        function: (contents: Apply(
                            function: (contents: Apply(
                                function: (contents: Inst(
                                    name: (contents: ["match_defeq", "Eq"]),
                                    universes: [(contents: UniverseSucc((contents: UniverseVariable("u"))))],
                                )),
                                argument: (contents: Local(index: 1)),
                            )),
                            argument: (contents: Local(index: 0)),
                        )),
                        argument: (contents: Match(
                            major_premise: (contents: Apply(
                                function: (contents: Apply(
                                    function: (contents: Inst(
                                        name: (contents: ["match_defeq", "diagonal"]),
                                        universes: [(contents: UniverseVariable("u"))],
                                    )),
                                    argument: (contents: Local(index: 1)),
                                )),
                                argument: (contents: Local(index: 0)),
                            )),
                            index_params: 0,
                            motive: (contents: Local(index: 2)),
                            minor_premises: [
                                (
                                    variant: "Prod",
                                    fields: 2,
                                    result: (contents: Local(index: 1)),
                                )
                            ]
                        )),
                    ))
                ))
            )),
            expr: (contents: Lambda(
                structure: (
                    bound: (
                        name: "A",
                        ty: (contents: Sort((contents: UniverseSucc((contents: UniverseVariable("u")))))),
                        ownership: PZero,
                    ),
                    binder_annotation: ImplicitEager,
                    ownership: Once,
                    region: (contents: StaticRegion),
                ),
                result: (contents: Lambda(
                    structure: (
                        bound: (
                            name: "x",
                            ty: (contents: Local(index: 0)),
                            ownership: POwned,
                        ),
                        binder_annotation: Explicit,
                        ownership: Once,
                        region: (contents: StaticRegion),
                    ),
                    result: (contents: Intro(
                        inductive: (contents: ["match_defeq", "Eq"]),
                        universes: [(contents: UniverseSucc((contents: UniverseVariable("u"))))],
                        variant: "refl",
                        parameters: [
                            (contents: Local(index: 1)),
                            (contents: Local(index: 0)),
                        ],
                    ))
                ))
            )),
        )),
    ]
))
