#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]

(contents: (
    items: [
        Inductive(contents: (
            name: "Or",
            universe_params: [],
            ty: (
                structures: [
                    (
                        bound: (
                            name: "p",
                            ty: (contents: Sort((contents: UniverseZero))),
                            ownership: PZero,
                        ),
                        binder_annotation: ImplicitEager,
                        invocation_type: Once,
                        region: (contents: StaticRegion),
                    ),
                    (
                        bound: (
                            name: "q",
                            ty: (contents: Sort((contents: UniverseZero))),
                            ownership: PZero,
                        ),
                        binder_annotation: ImplicitEager,
                        invocation_type: Once,
                        region: (contents: StaticRegion),
                    ),
                ],
                result: (contents: Sort((contents: UniverseZero))),
            ),
            global_params: 2,
            variants: [
                (
                    name: "inl",
                    intro_rule: (
                        structures: [
                            (
                                bound: (
                                    name: "p",
                                    ty: (contents: Sort((contents: UniverseZero))),
                                    ownership: PZero,
                                ),
                                binder_annotation: ImplicitEager,
                                invocation_type: Once,
                                region: (contents: StaticRegion),
                            ),
                            (
                                bound: (
                                    name: "q",
                                    ty: (contents: Sort((contents: UniverseZero))),
                                    ownership: PZero,
                                ),
                                binder_annotation: ImplicitEager,
                                invocation_type: Once,
                                region: (contents: StaticRegion),
                            ),
                            (
                                bound: (
                                    name: "h",
                                    ty: (contents: Local(index: 1)),
                                    ownership: POwned,
                                ),
                                binder_annotation: Explicit,
                                invocation_type: Once,
                                region: (contents: StaticRegion),
                            ),
                        ],
                        result: (contents: Apply(
                            function: (contents: Apply(
                                function: (contents: Inst(
                                    name: (contents: ["or_comm", "Or"]),
                                    universes: [],
                                )),
                                argument: (contents: Local(index: 2)),
                            )),
                            argument: (contents: Local(index: 1)),
                        ))
                    )
                ),
                (
                    name: "inr",
                    intro_rule: (
                        structures: [
                            (
                                bound: (
                                    name: "p",
                                    ty: (contents: Sort((contents: UniverseZero))),
                                    ownership: PZero,
                                ),
                                binder_annotation: ImplicitEager,
                                invocation_type: Once,
                                region: (contents: StaticRegion),
                            ),
                            (
                                bound: (
                                    name: "q",
                                    ty: (contents: Sort((contents: UniverseZero))),
                                    ownership: PZero,
                                ),
                                binder_annotation: ImplicitEager,
                                invocation_type: Once,
                                region: (contents: StaticRegion),
                            ),
                            (
                                bound: (
                                    name: "h",
                                    ty: (contents: Local(index: 0)),
                                    ownership: POwned,
                                ),
                                binder_annotation: Explicit,
                                invocation_type: Once,
                                region: (contents: StaticRegion),
                            ),
                        ],
                        result: (contents: Apply(
                            function: (contents: Apply(
                                function: (contents: Inst(
                                    name: (contents: ["or_comm", "Or"]),
                                    universes: [],
                                )),
                                argument: (contents: Local(index: 2)),
                            )),
                            argument: (contents: Local(index: 1)),
                        ))
                    )
                ),
            ],
        )),
        Definition(contents: (
            name: "or_comm",
            universe_params: [],
            ty: (contents: Pi(
                structure: (
                    bound: (
                        name: "p",
                        ty: (contents: Sort((contents: UniverseZero))),
                        ownership: PZero,
                    ),
                    binder_annotation: ImplicitEager,
                    invocation_type: Once,
                    region: (contents: StaticRegion),
                ),
                result: (contents: Pi(
                    structure: (
                        bound: (
                            name: "q",
                            ty: (contents: Sort((contents: UniverseZero))),
                            ownership: PZero,
                        ),
                        binder_annotation: ImplicitEager,
                        invocation_type: Once,
                        region: (contents: StaticRegion),
                    ),
                    result: (contents: Pi(
                        structure: (
                            bound: (
                                name: "h",
                                ty: (contents: Apply(
                                    function: (contents: Apply(
                                        function: (contents: Inst(
                                            name: (contents: ["or_comm", "Or"]),
                                            universes: [],
                                        )),
                                        argument: (contents: Local(index: 1)),
                                    )),
                                    argument: (contents: Local(index: 0)),
                                )),
                                ownership: PZero,
                            ),
                            binder_annotation: Explicit,
                            invocation_type: Once,
                            region: (contents: StaticRegion),
                        ),
                        result: (contents: Apply(
                            function: (contents: Apply(
                                function: (contents: Inst(
                                    name: (contents: ["or_comm", "Or"]),
                                    universes: [],
                                )),
                                argument: (contents: Local(index: 1)),
                            )),
                            argument: (contents: Local(index: 2)),
                        )),
                    ))
                ))
            )),
            expr: (contents: Lambda(
                structure: (
                    bound: (
                        name: "p",
                        ty: (contents: Sort((contents: UniverseZero))),
                        ownership: PZero,
                    ),
                    binder_annotation: ImplicitEager,
                    invocation_type: Once,
                    region: (contents: StaticRegion),
                ),
                result: (contents: Lambda(
                    structure: (
                        bound: (
                            name: "q",
                            ty: (contents: Sort((contents: UniverseZero))),
                            ownership: PZero,
                        ),
                        binder_annotation: ImplicitEager,
                        invocation_type: Once,
                        region: (contents: StaticRegion),
                    ),
                    result: (contents: Lambda(
                        structure: (
                            bound: (
                                name: "h",
                                ty: (contents: Apply(
                                    function: (contents: Apply(
                                        function: (contents: Inst(
                                            name: (contents: ["or_comm", "Or"]),
                                            universes: [],
                                        )),
                                        argument: (contents: Local(index: 1)),
                                    )),
                                    argument: (contents: Local(index: 0)),
                                )),
                                ownership: PZero,
                            ),
                            binder_annotation: Explicit,
                            invocation_type: Once,
                            region: (contents: StaticRegion),
                        ),
                        result: (contents: Match(
                            major_premise: (contents: Local(index: 0)),
                            index_params: 0,
                            motive: (contents: Apply(
                                function: (contents: Apply(
                                    function: (contents: Inst(
                                        name: (contents: ["or_comm", "Or"]),
                                        universes: [],
                                    )),
                                    argument: (contents: Local(index: 2)),
                                )),
                                argument: (contents: Local(index: 3)),
                            )),
                            minor_premises: [
                                (
                                    variant: "inl",
                                    fields: 1,
                                    result: (contents: Intro(
                                        inductive: (contents: ["or_comm", "Or"]),
                                        universes: [],
                                        variant: "inr",
                                        parameters: [
                                            (contents: Local(index: 2)),
                                            (contents: Local(index: 3)),
                                            (contents: Local(index: 0)),
                                        ]
                                    )),
                                ),
                                (
                                    variant: "inr",
                                    fields: 1,
                                    result: (contents: Intro(
                                        inductive: (contents: ["or_comm", "Or"]),
                                        universes: [],
                                        variant: "inl",
                                        parameters: [
                                            (contents: Local(index: 2)),
                                            (contents: Local(index: 3)),
                                            (contents: Local(index: 0)),
                                        ]
                                    )),
                                ),
                            ]
                        )),
                    ))
                ))
            )),
        )),
    ]
))
