#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]

(contents: (
    items: [
        Inductive(contents: (
            name: "Prod",
            universe_params: ["u", "v"],
            ty: (
                structures: [
                    (
                        bound: (
                            name: "A",
                            ty: (contents: Sort((contents: UniverseSucc((contents: UniverseVariable("u")))))),
                            ownership: PZero,
                        ),
                        binder_annotation: ImplicitEager,
                        region: (contents: StaticRegion),
                    ),
                    (
                        bound: (
                            name: "B",
                            ty: (contents: Sort((contents: UniverseSucc((contents: UniverseVariable("v")))))),
                            ownership: PZero,
                        ),
                        binder_annotation: ImplicitEager,
                        region: (contents: StaticRegion),
                    ),
                ],
                result: (contents: Sort((contents: UniverseMax(
                    left: (contents: UniverseSucc((contents: UniverseVariable("u")))),
                    right: (contents: UniverseSucc((contents: UniverseVariable("v")))),
                )))),
            ),
            global_params: 2,
            variants: [
                (
                    name: "Prod",
                    intro_rule: (
                        structures: [
                            (
                                bound: (
                                    name: "A",
                                    ty: (contents: Sort((contents: UniverseSucc((contents: UniverseVariable("u")))))),
                                    ownership: PZero,
                                ),
                                binder_annotation: ImplicitEager,
                                region: (contents: StaticRegion),
                            ),
                            (
                                bound: (
                                    name: "B",
                                    ty: (contents: Sort((contents: UniverseSucc((contents: UniverseVariable("v")))))),
                                    ownership: PZero,
                                ),
                                binder_annotation: ImplicitEager,
                                region: (contents: StaticRegion),
                            ),
                            (
                                bound: (
                                    name: "fst",
                                    ty: (contents: Local(index: 1)),
                                    ownership: POwned,
                                ),
                                binder_annotation: Explicit,
                                region: (contents: StaticRegion),
                            ),
                            (
                                bound: (
                                    name: "snd",
                                    ty: (contents: Local(index: 1)),
                                    ownership: POwned,
                                ),
                                binder_annotation: Explicit,
                                region: (contents: StaticRegion),
                            ),
                        ],
                        result: (contents: Apply(
                            function: (contents: Apply(
                                function: (contents: Inst(
                                    name: (contents: ["prod_squash", "Prod"]),
                                    universes: [
                                        (contents: UniverseVariable("u")),
                                        (contents: UniverseVariable("v"))
                                    ],
                                )),
                                argument: (contents: Local(index: 3)),
                            )),
                            argument: (contents: Local(index: 2)),
                        ))
                    )
                )
            ],
        )),
        Definition(contents: (
            name: "prod_squash",
            universe_params: ["u", "v"],
            ty: (contents: Pi(
                structure: (
                    bound: (
                        name: "A",
                        ty: (contents: Sort((contents: UniverseSucc((contents: UniverseVariable("u")))))),
                        ownership: PZero,
                    ),
                    binder_annotation: ImplicitEager,
                    region: (contents: StaticRegion),
                ),
                result: (contents: Pi(
                    structure: (
                        bound: (
                            name: "B",
                            ty: (contents: Sort((contents: UniverseSucc((contents: UniverseVariable("v")))))),
                            ownership: PZero,
                        ),
                        binder_annotation: ImplicitEager,
                        region: (contents: StaticRegion),
                    ),
                    result: (contents: RegionPi(
                        region_name: "a",
                        body: (contents: Pi(
                            structure: (
                                bound: (
                                    name: "x",
                                    ty: (contents: Delta(
                                        ty: (contents: Apply(
                                            function: (contents: Apply(
                                                function: (contents: Inst(
                                                    name: (contents: ["prod_squash", "Prod"]),
                                                    universes: [(contents: UniverseVariable("u")), (contents: UniverseVariable("v"))],
                                                )),
                                                argument: (contents: Local(index: 2)),
                                            )),
                                            argument: (contents: Local(index: 1)),
                                        )),
                                        region: (contents: Local(index: 0)),
                                    )),
                                    ownership: POwned,
                                ),
                                binder_annotation: Explicit,
                                region: (contents: Local(index: 0)),
                            ),
                            result: (contents: Apply(
                                function: (contents: Apply(
                                    function: (contents: Inst(
                                        name: (contents: ["prod_squash", "Prod"]),
                                        universes: [(contents: UniverseVariable("u")), (contents: UniverseVariable("v"))],
                                    )),
                                    argument: (contents: Delta(
                                        ty: (contents: Local(index: 3)),
                                        region: (contents: Local(index: 1)),
                                    )),
                                )),
                                argument: (contents: Delta(
                                    ty: (contents: Local(index: 2)),
                                    region: (contents: Local(index: 1)),
                                )),
                            )),
                        ))
                    )),
                )),
            )),
            expr: (contents: Lambda(
                structure: (
                    bound: (
                        name: "A",
                        ty: (contents: Sort((contents: UniverseSucc((contents: UniverseVariable("u")))))),
                        ownership: PZero,
                    ),
                    binder_annotation: ImplicitEager,
                    region: (contents: StaticRegion),
                ),
                result: (contents: Lambda(
                    structure: (
                        bound: (
                            name: "B",
                            ty: (contents: Sort((contents: UniverseSucc((contents: UniverseVariable("v")))))),
                            ownership: PZero,
                        ),
                        binder_annotation: ImplicitEager,
                        region: (contents: StaticRegion),
                    ),
                    result: (contents: RegionLambda(
                        region_name: "a",
                        body: (contents: Lambda(
                            structure: (
                                bound: (
                                    name: "x",
                                    ty: (contents: Delta(
                                        ty: (contents: Apply(
                                            function: (contents: Apply(
                                                function: (contents: Inst(
                                                    name: (contents: ["prod_squash", "Prod"]),
                                                    universes: [(contents: UniverseVariable("u")), (contents: UniverseVariable("v"))],
                                                )),
                                                argument: (contents: Local(index: 2)),
                                            )),
                                            argument: (contents: Local(index: 1)),
                                        )),
                                        region: (contents: Local(index: 0)),
                                    )),
                                    ownership: POwned,
                                ),
                                binder_annotation: Explicit,
                                region: (contents: Local(index: 0)),
                            ),
                            result: (contents: Match(
                                major_premise: (contents: Local(index: 0)),
                                index_params: 0,
                                motive: (contents: Apply(
                                    function: (contents: Apply(
                                        function: (contents: Inst(
                                            name: (contents: ["prod_squash", "Prod"]),
                                            universes: [(contents: UniverseVariable("u")), (contents: UniverseVariable("v"))],
                                        )),
                                        argument: (contents: Delta(
                                            ty: (contents: Local(index: 4)),
                                            region: (contents: Local(index: 2)),
                                        )),
                                    )),
                                    argument: (contents: Delta(
                                        ty: (contents: Local(index: 3)),
                                        region: (contents: Local(index: 2)),
                                    )),
                                )),
                                minor_premises: [
                                    (
                                        variant: "Prod",
                                        fields: 2,
                                        result: (contents: Intro(
                                            inductive: (contents: ["prod_squash", "Prod"]),
                                            universes: [(contents: UniverseVariable("u")), (contents: UniverseVariable("v"))],
                                            variant: "Prod",
                                            parameters: [
                                                (contents: Delta(
                                                    ty: (contents: Local(index: 5)),
                                                    region: (contents: Local(index: 3)),
                                                )),
                                                (contents: Delta(
                                                    ty: (contents: Local(index: 4)),
                                                    region: (contents: Local(index: 3)),
                                                )),
                                                (contents: Local(index: 1)),
                                                (contents: Local(index: 0)),
                                            ],
                                        ))
                                    )
                                ],
                            )),
                        ))
                    )),
                )),
            )),
        ))
    ]
))
